div.blogs-list-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

div.blogs-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: var(--light);
  margin-bottom: 100px;
}

div.blogs-title-container p {
  font-size: 100px;
  font-style: italic;
}

div.blogs-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

div.blogs-tags-container {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
}

div.blogs-tags-container a.tag-filter {
  text-decoration: none;
  color: var(--grey);
  background-color: var(--light);
  border: var(--light-grey) 1px solid;
  border-radius: 10px;
  padding: 5px;
  font-size: 2.5vw;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* blog items */
div.blog-posts-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  margin-bottom: 50px;
}

a.blog-item-container {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  width: 50%;
}

div.blog-item-text {
  width: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.blog-item-text p {
  color: var(--light-grey);
  font-size: 1.5vw;
  margin: 0;
}

/* blog items texts */
div.blog-item-details {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.blog-item-text > h2 {
  font-size: 3em;
  margin: 0;
}

.blog-item-details > tags {
  color: #858585;
}

.blog-item-details > date,
.blog-item-details > tags {
  font-size: 1.2em;
}

@media screen and (max-device-width: 430px) {
  div.blogs-title-container p {
    font-size: 15vw;
  }

  div.blogs-tags-container a.tag-filter {
    font-size: 1em;
  }

  a.blog-item-container {
    width: 100%;
    margin-bottom: 100px;
  }

  div.blog-item-text h2 {
    font-size: 8vw;
    padding-left: 10px;
  }

  div.blog-item-text p {
    font-size: 5vw;
    padding: 0 10px;
  }
  div.blog-posts-container {
    gap: 10px;
  }

  div.blog-item-details {
    padding: 0 10px;
  }
}
