@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@300&family=Source+Sans+3:wght@300&display=swap");

/* OVERALL CSS DIVS */

.blog-text {
  color: red;
}

.container {
  padding-top: 155px;
}

/* TOPIC SECTION */

.blog-topic {
  height: 200px;
  background-color: #a3a3a3;
  padding: 2em 0;
  padding-left: 20vw;
  color: #f7f7ff;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.blog-topic > h1 {
  font-size: 4.5rem;
  border-left: 0.1em solid rgb(86, 0, 0);
  padding-left: 5px;
}

.sub-topic-info {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  font-size: 1.5rem;
}

/* BLOG BODY Containers */

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-basis: 60vw;
}

/* Blog Body */

.intro-text,
.body-text {
  /* font-family: "Libre Baskerville", serif; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* text-align: justify; */
  font-size: 1.2rem;
  padding: 0 13vw;

  word-spacing: 5px;
}

.body-text > a {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

.blog-body {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin: 2em 5em;
  /* margin-right: 8em;
  margin-left: 2em; */
  justify-content: center;
}

.blog-img > img {
  width: 35vw;
}

.blog-img {
  text-align: center;
  margin-bottom: -1.7em;
}

.image-text {
  padding: 0 14vw;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Related Blogs */

.related-blog-container {
  background-color: aqua;

  height: 400px;
  flex-basis: 25vw;
}

/* References */

.reference-title {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 13vw;
  margin-bottom: -1em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.reference-item {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  padding: 0 13vw;
  margin-bottom: -1em;
}

.reference-item-text > em > a {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
