.blog-text {
  color: red;
}

.blog-topic {
  height: 25vh;
  background-color: #3c3b3d;
  padding: 2em 5em;
  color: #f7f7ff;
  display: flex;
}

.blog-topic > h1 {
  font-size: 50px;
}

.intro-text {
  /* 
  padding: 0 50px;
  background-color: #3c3b3d;
  height: 25vh; */
}

.container {
  padding-top: 27vh;
}
