.blog-list-container {
  margin-top: 150px;
}

.tag-filter {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}

.tags-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
}
