@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@300&family=Source+Sans+3:wght@700&display=swap");

/* -------- PAGE CSS -------- */
p {
  font-family: "Poppins", sans-serif;
  font-family: "Source Sans 3", sans-serif;
}

/* -------- INTRO SECTION -------- */
.section-intro {
  display: block;
  align-items: center;
}

.main-image {
  text-align: center;
}
.main-image > img {
  width: 100%;
}

.root-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-bottom: 15vh;
}

.main-img-container {
  /* margin-top: 40px; */
  /* padding: 20px 50px; */
  /* display: block; */
  text-align: center;
}

.product-description {
  padding: 25px 150px;
  font-size: 32px;
  text-align: justify;
}

/* -------- ALL SECTIONS -------- */

.even-section,
.odd-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.even-section {
  flex-direction: row-reverse;
}

.text-div {
  display: flex;
  align-items: center; /* Vertical alignment: center */
  justify-content: center; /* Horizontal alignment: center */
  flex-basis: 40vw;
}

.even-section,
.odd-section {
  margin: 0 80px;
}

.odd-section-img {
  flex-basis: 40vw;
}

.even-section-img > img,
.odd-section-img > img {
  width: 40vw;
}

.even-section-text,
.odd-section-text {
  text-align: justify;
  width: 45vw;
  font-size: 35px;
}
