@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@300&family=Source+Sans+3:wght@700&display=swap");

/* -------- PAGE CSS -------- */
p {
  font-family: "Poppins", sans-serif;
  font-family: "Source Sans 3", sans-serif;
}

.product-description,
.odd-section-text > p,
.even-section-text > p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2vw;
}

.odd-section-text > p,
.even-section-text > p {
  border-left: 0.5vw solid rgb(86, 0, 0);
  padding-left: 20px;
}

/* -------- INTRO SECTION -------- */
.section-intro {
  display: block;
  align-items: center;
}

.main-image {
  text-align: center;
}
.main-image > img {
  width: 100%;
}

.root-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-bottom: 15vh;
}

.main-img-container {
  /* margin-top: 40px; */
  /* padding: 20px 50px; */
  /* display: block; */
  text-align: center;
}

.product-description {
  padding: 25px 150px;
  font-size: 2vw;
  text-align: justify;
  margin: 0;
}

/* -------- ALL SECTIONS -------- */

.even-section,
.odd-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.even-section {
  flex-direction: row-reverse;
}

.text-div {
  display: flex;
  align-items: center; /* Vertical alignment: center */
  justify-content: center; /* Horizontal alignment: center */
  flex-basis: 40vw;
}

.even-section,
.odd-section {
  margin: 0 80px;
  gap: 100px;
}

.odd-section-img {
  flex-basis: 40vw;
}

.even-section-img > img,
.odd-section-img > img {
  width: 40vw;
}

.even-section-text,
.odd-section-text {
  text-align: justify;
  width: 45vw;
  font-size: 3vw;
}

.even-section-text > p > strong,
.odd-section-text > p > strong {
  font-size: 3vw;
}

@media screen and (max-device-width: 430px) {
  .even-section-text > p > strong,
  .odd-section-text > p > strong {
    font-size: 10vw;
  }

  .product-description,
  .odd-section-text > p,
  .even-section-text > p {
    font-size: 5vw;
  }

  .root-container {
    gap: 2vh;
    margin-bottom: 15vh;
  }

  .root-container * {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .product-description {
    padding: 10px 10px;
    /* font-size: 25px; */
    text-align: left;
  }

  .main-image > img {
    width: 100vw;
  }

  .even-section,
  .odd-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;

    margin: 0 0;
    padding: auto;
  }

  .even-section-text,
  .odd-section-text {
    text-align: left;
    width: auto;
    font-size: 25px;
    padding: 0 5px;
  }

  .odd-section-text > p,
  .even-section-text > p {
    border-left: 1.5vw solid rgb(86, 0, 0);
  }

  .odd-section-img {
    flex-basis: auto;
  }

  .even-section-img,
  .odd-section-img {
    width: 100%;
    text-align: center;
  }

  .even-section-img > img,
  .odd-section-img > img {
    width: 90%;
  }
}
