/* -------- INTRO SECTION -------- */
.section-intro {
  display: block;
  align-items: center;
}

.main-image {
  height: 100vh;
}

.root-container {
  display: flex;
  flex-direction: column;
}

.main-img-container {
  /* margin-top: 40px; */
  /* padding: 20px 50px; */
  /* display: block; */
  text-align: center;
}
